        :root {


            --accent-light: #96B5CA;
            /* rgb(124,176,250);?*/
            --accent-dark: #5788a9;
            /* alt: rgb(87,136,169); */
            --accent-very-dark: #42667F;
            /* rgb(65,132,191); */

            --background-accent-light: var(--accent-light);
            --background-accent-dark: var(--accent-dark);
            --background-accent-very-dark: var(--accent-very-dark);

            --background: rgb(238, 238, 238);
            --background-test: magenta;
            --background-light: rgb(238, 238, 238);
            --background-dark: rgb(212, 212, 212);

            --shadow-light: rgb(179, 179, 179);
            --shadow-mid: rgb(117, 117, 117);

            --grid-light: rgb(222, 222, 222);
            --grid-dark: var(--shadow-mid);

            --focused-light: rgb(255, 226, 127);
            --focused-very-light: rgb(249, 208, 92);
            --focused-dark: rgb(229, 163, 47);
            --focused-very-dark: rgb(157, 82, 11);


            --default-hero-background: #5788a9;
            /*88A5B4*/
            --default-hero-text: white;
            --default-content-background: #EFF1F7;
            --default-content-text: black;
            --default-footer-background: #2E343F;
            --default-footer-text: #EFF1F7;
        }

        h1.logo {
            visibility: hidden;

            line-height: 0;
            height: 35%;
            min-height: 35%;
        }

        h1.logo::before {
            visibility: visible;
            display: block;
            content: "";
            background-image: url(/call-me-bingo/images/call-me-semiblack.svg);

            height: 31%;

            /*4.575rem;*/

            background-repeat: no-repeat;
            background-position: center;
            padding: 0;
            margin-left: auto;
            margin-right: auto;
            background-size: contain;

            filter: invert();
        }

        h1.logo::after {

            visibility: visible;
            display: block;
            content: "";
            background-image: url(/call-me-bingo/images/bingo.png);
            margin-top: 1%;
            height: 50%;
            /*7.5rem;*/
            /*  calc(18.52vh/2);*/
            width: 98vw;

            background-repeat: no-repeat;
            background-position: center;
            margin: 1% 0;
            margin-left: auto;
            margin-right: auto;
            background-size: contain;


        }