@import "default.colorscheme.style.css";
@import "blue.colorscheme.style.css";

:root {
  --hero-background: var(--default-hero-background);
  --hero-text: var(--default-hero-text);
  --content-background: var(--default-content-background);
  --content-text: var(--default-content-text);
  --footer-background: var(--default-footer-background);
  --footer-text: var(--default-footer-text);
}


html {

  font-family: sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;

}

body {

  margin: 0;
  padding: 0;
  background: var(--content-background);
}


body {

  display: flex;
  flex-direction: column;
  height: 100vh;
}



h1,
h2 {
  text-align: center;
  font-weight: lighter;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  border: 0px solid orange;
}





h1.logo {
  border: 1px solid olive;
  height: 35%;
  min-height: 35%;
  margin-bottom: 0.16rem;
  margin-top: 0;

}

header.hero {

  color: var(--hero-text);
  background: var(--hero-background);
  display: flex;
  flex-direction: column;
  align-content: center;

}

div.hero {

  margin: auto;
  padding: 0;
  text-align: center;
  align-content: center;
  min-height: calc(50vh - 26px);

  font-weight: lighter;
  flex: 1;
}

header.hero::after {
  content: "";
  display: block;
  position: relative;

  z-index: -1;
  background-image: linear-gradient(-45deg, transparent 25px, var(--hero-background) 25px),
    linear-gradient(45deg, transparent 25px, var(--hero-background) 25px);
  background-size: 34px 35px;

  background-repeat: repeat-x;
  background-position: bottom;
  display: block;
  min-height: 26px;
  top: 26px;
  margin-top: -26px;
  border: 0px solid magenta;
  filter: drop-shadow(0.05rem 0.15rem 0.025rem rgba(0, 0, 0, .1));

}


body>header.hero.compact>div {
  min-height: calc(20vh - 26px);

  flex: 1;
}

body>header.hero.compact>div>h1.logo {
  height: 70%;
  min-height: 70%;
  margin-bottom: 0.16rem;
  margin-top: 0;
}


dl {
  margin-top: 0;
}

/*
.content::after {
  content: "";
  display: block;
  position: relative;

  z-index: -1;
  background-image: linear-gradient(-45deg, transparent 25px, var(--hero-background) 25px),
    linear-gradient(45deg, transparent 25px, var(--hero-background) 25px);
  background-size: 25px 35px;
  
  background-repeat: repeat-x;
  background-position: bottom;
  display: block;
  min-height: 26px;
  top: 26px;
  border: 0px solid magenta;
  filter: drop-shadow(0.05rem 0.2rem 0.025rem rgba(0, 0, 0, .2));
}*/

.content {
  display: flex;
  flex-direction: column;
  flex: 2;
  align-content: center;


  color: var(--content-text);
  background-color: transparent;

  /*margin-bottom: -26px;*/
  padding: calc(26px + 2rem) 2.5rem 0 2.5rem;


}

.content::after {

  content: "";
  display: inline-block;
  align-self: stretch;
  width: calc(99.9vw - 2px);
  /*position: relative;*/


  padding-top: calc(26px + 2rem);
  margin: 0;
  margin-top: auto;
  margin-left: -2.5rem;
  /*margin-bottom: 0.5rem;*/




  z-index: -1;
  background-image: linear-gradient(-45deg, var(--footer-background) 25px, transparent 25px),
    linear-gradient(45deg, var(--footer-background) 25px, transparent 25px);
  background-size: 34px 35px;

  background-repeat: repeat-x;
  background-position: bottom;

  min-height: 26px;
  /*top: 2rem;*/
  border: 0px solid magenta;
  filter: drop-shadow(-0.05rem 0.15rem 0.025rem rgba(0, 0, 0, .1));
}

.footer {
  text-align: center;
  flex: 1;
  margin: 0;
  /*padding: 1.6rem 1rem;*/
  padding: 0;
  display: block;
  background-color: var(--footer-background);
  min-height: 2rem;
  /*
   
      flex: 1;*/

  /*padding: 1.6rem 1rem;*/
  color: var(--footer-text);
}



.topnav {
  text-align: right;
  color: var(--footer-text);
  background-color: rgba(46, 52, 63, 0.5);
}

.topnav a {

  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  border: 1px outset transparent;
  color: var(--footer-text);

  opacity: 0.75;
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: ease-in-out;
}

.topnav a:hover{
  opacity: 1;
  border: 1px outset var(--footer-text);
  filter: brightness(150%);
  background-color: rgba(255, 255, 255, .2);
}

.topnav>a.home:hover::after {
  opacity: 1;
  border: 1px outset var(--footer-text);
  filter: brightness(150%);
  background-color: rgba(255, 255, 255, .2);
}


.topnav>a.home {
  display:inline-block;
  padding:0;
  visibility: hidden;
}

.topnav>a.home::after {
  content: "";
  background-image:  url("/images/house.svg");
  padding: 0.5em 1em;
  opacity: 0.75;
  border: 1px outset transparent;
  visibility: visible;
  background-size: 1.2em;
  background-repeat: no-repeat;
  background-position: center;
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: ease-in-out;
}